.cabecalho{
    display: flex;
    justify-content: space-between;
    background-image: var(--azul-degrade);
    color: var(--branco);
    font-size: 11px;
    padding: 0.3rem;
    font-family: var(--fonte-principal);
    font-weight: 800;

 
}
.cabecalho__botao{
    background-color: var(--transparente);
    color: var(--branco);
    border: none;
}
