:root{
    --branco: #ffffff;
    --preto:#000000;
    --azul-mais-escuro:#00237D;
    --azul-escuro:#0055A3 ;
    --azul: #0B33C9;
    --azul-claro: #007ACC;
    --azul-muito-claro:#3699FF ;
    --amarelo-muito-escuro:#B38C00;
    --amarelo-escuro:#FFC900;
    --amarelo:#FFD919 ;

}