.principal{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.principal-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem ;
    padding: 4rem;
    align-items: center;
    justify-content: center;
}

.principal-links>li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 130px;
    border: 2px solid var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;

}