

.principal-bloco-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    justify-content: center;
    margin-top: 8%;
}
.principal-bloco-pesquisa>div{
    display: flex;
}
.principal-bloco-pesquisa>div>label{
    border: 1px solid var(--cinza);
    width: 50px;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background-color: var(--vermelho);
    color: var(--branco);
    
}
.principal-bloco-pesquisa>div>input{
    width: 30rem;
    height: 1.8rem;
    
}



.principal-bloco__tiulos-da-lista{
    margin: 5% 0 0 0;
    display: flex;
    
}
.principal-bloco__tiulos-da-lista>li{
    text-align: center;
    border: 1px solid var(--cinza);
    width: 140px;
    padding: .5rem;
}

.principal-tabela>tr>td{
    border: 1px solid var(--cinza);
    width: 146.8px;
    padding: 5px;
}
.principal>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}