

.principal-bloco-pesquisa{
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    margin-top: 12%;
}

.principal-bloco-pesquisa>label{
    border: 1px solid var(--cinza);
    width: 50px;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background-color: var(--vermelho);
    color: var(--branco);
    
}
.principal-bloco-pesquisa>input{
    width: 30rem;
    height: 1.5rem;
    
}
