.lista-menu{
    /* position: fixed; */
    margin-top: 18%;
}
.Logo{
    background-image: url("../../../assets/Logo.jpeg");
    height: 22rem;
    background-size: 20.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:top;
    
    background-color: var(--fundo-menu-lateral);
    width: 322px;
    height: 178px;
}
.lista-menu {
    width: 25vw;
}
.lista-menu__item {
    padding: 1.2em 1rem;
    background-color: var(--fundo-menu-lateral);
    width: 290px;
    height: 24.6px;
    display: flex;
    align-items: center;
    color: var(--branco);
    font-family: sans-serif;
    font-weight: 500;

}
.lista-menu__link {
    background: var(--branco);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    padding-left: 1rem;
}
.lista-menu__item:hover{
    background: var(--azul-transparente); 
}