.lista-menu {
    width: 25vw;
}
.lista-menu__item {
    padding: 1em;
    background: var(--azul-degrade);
    display: flex;
    align-items: center;
    color: var(--branco);
    font-family: sans-serif;
    font-weight: 500;
}
.lista-menu__link {
    background: var(--branco);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    padding-left: 1rem;
}
.lista-menu__item:hover{
    background: var(--azul-muito-escuro); 
}